*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #111827, #581c87, #be185d);
    width: 100%;
    margin: 0;
  }

main {
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}

/*--------------------HERO--------------------*/
.hero {
  width: 100%;
  height: 100vh;
  max-height: 958px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.flex-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
}

.flex-container > div {
    width: calc(50% - 24px);
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  border-radius: 50%;
  border: 8px solid rgba(241, 158, 218, 0.3);
  width: 360px;
}

.description-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
}

.nombre{
  color: white;
  font-weight: bolder;
  font-size: xxx-large;
}

.nombre h1 {
  margin: 0;
}

.apellido{
  color: #f472b6;
}

.textrosa{
  color: #f472b6;
  font-weight: bolder;
  font-size: xx-large;
}

.shortdesc{
  color: #d1d5db;
}

.ciudad{
  color: #9ca3af;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center
}

.contacto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.contacto a {
  text-decoration: none;
}

.contacto-btn {
  border-radius: 30px;
  padding: 4px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: small;
  font-weight: bolder;
}

.github{
  color: #ec4899;
  border: 1px #ec4899;
  border-style: solid;
}

.mail{
  color: #a855f7;
  border: 1px #a855f7;
  border-style: solid;
}

.linkedin{
  color: #f43f5e;
  border: 1px #f43f5e;
  border-style: solid;
}

/*--------------------SOBRE MI--------------------*/
.sobremi{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  gap: 48px;
  font-size: larger;
}

.sobremi p{
  margin: 0;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  color: #d1d5db;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/*--------------------EXPERIENCIA--------------------*/
.experiencia {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  gap: 48px;
  margin-top: 96px;
}

.titulopuesto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.puesto{
  font-size: xx-large;
  font-weight: bold;
}

.empresa{
  color: #D28DBE;
  font-weight: bold;
}

.anios{
  background-image: linear-gradient(to left, #B94D9A , #D28DBE);
  border-radius: 10px;
  border: 1px #ec4899;
  border-style: solid;
  padding: 3px 12px;
  color: #d1d5db;
}

.stack{
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
}

.stack div{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 3px 12px;
  color: #d8b4fe;
}

/*--------------------PROYECTOS--------------------*/
.proyectos{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 64px;
}

.rowproyectos{
  display: flex;
  flex-direction: row;
  gap: 48px;
}